* {
    margin: 0;
    padding: 0;
    
}
div#main {
       float: left;
       width: 71%;
       height: 1000px;
       margin-right: 4%;
background-color: #f5f4f4;
}
div#extras {
       float: left;
       width: 25%;
       height: 1000px;
       background-color: darkslategrey;
}
ul li {
    color: rgb(59, 63, 59))61);
    padding: 10px 5px 0 10px;
    list-style-type:none;
    display: inline-block;
}
li:hover {
    padding: 10px 0 0 20px;
    color: white;
    transform: scale(1.1,1);
}
p { 
    text-align: justify;
    padding: 10px 5px 0 5px;
}
.div-float {
    float: left;
    width: 48%;
    height: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 1%;
    border-left: 5px solid darkslategray;
}
img {
    border-left: 5px solid darkslategray;
    margin-left: 1%;
    margin-right: 10px;
}